absl-py
accelerate
addict
aiohttp
aiosignal
alabaster
altair
aniso8601
annotated-types
antlr4-python3-runtime
anyascii
anyio
appdirs
arxiv
asciitree
asttokens
attrdict
attrs
audioread
Babel
bangla
beautifulsoup4
bitsandbytes
black
blinker
blis
bnnumerizer
bnunicodenormalizer
boto3
botocore
braceexpand
cachetools
catalogue
cdifflib
certifi
cffi
charset-normalizer
click
clip
cloudpathlib
colorama
comm
confection
contourpy
coqpit
curl_cffi
cycler
cymem
Cython
cytoolz
dataclasses-json
datasets
dateparser
decorator
diffusers
dill
Distance
distro
docker-pycreds
docopt
docstring_parser
docutils
duckduckgo_search
editdistance
einops
einops-exts
encodec
executing
faiss-cpu
fasteners
fasttext @ file:///home/moebius/Projects/Nemo/fastText
fasttext-wheel
feedparser
filelock
fire
Flask
Flask-RESTful
fonttools
frozenlist
fsspec
ftfy
future
g2p-en
g2pkk
gdown
gitdb
GitPython
google_search_results
greenlet
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
h11
h5py
hangul-romanize
httpcore
httpx
huggingface-hub
hydra-core
idna
ijson
imageio
imagesize
importlib_metadata
inflect
iniconfig
intervaltree
ipython
ipywidgets
isort
itsdangerous
jamo
jedi
jieba
Jinja2
jiwer
jmespath
joblib
jsonlines
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyterlab_widgets
kaldi-python-io
kaldiio
kiwisolver
kornia
kornia_rs
langchain
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-openai
langchain-text-splitters
langchainhub
langcodes
langgraph
langsmith
language_data
latexcodec
lazy_loader
Levenshtein
lhotse
librosa
lightning-utilities
lilcom
llvmlite
loguru
lxml
marisa-trie
Markdown
markdown-it-py
markdown2
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
megatron_core
mistral_common
mistral_inference
more-itertools
mpmath
msgpack
multidict
multiprocess
murmurhash
mypy-extensions
nemo_text_processing
nemo_toolkit
nerfacc
networkx
nltk
num2words
numba
numcodecs
numexpr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
onnx
open-clip-torch
openai
OpenCC
opencv-python
orjson
packaging
pandas
pangu
parameterized
parso
pathspec
pexpect
pillow
plac
platformdirs
pluggy
pooch
portalocker
preshed
progress
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyannote.core
pyannote.database
pyannote.metrics
pyarrow
pyarrow-hotfix
pybind11
pybtex
pybtex-docutils
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyloudnorm
PyMCubes
pynini
pynndescent
pyparsing
pypinyin
pypinyin-dict
pyreqwest_impersonate
pysbd
PySocks
pytest
pytest-runner
python-crfsuite
python-dateutil
pytorch-lightning
pytz
PyYAML
rapidfuzz
referencing
regex
requests
resampy
rich
rouge_score
rpds-py
ruamel.yaml
ruamel.yaml.clib
s3transfer
sacrebleu
sacremoses
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
sgmllib3k
shellingham
simple_parsing
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
sounddevice
soundfile
soupsieve
sox
soxr
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
srsly
stack-data
streamlit
SudachiDict-core
SudachiPy
sympy
tabulate
taming-transformers
tenacity
tensorboard
tensorboard-data-server
tensorstore
termcolor
text-generation
text-unidecode
textdistance
texterrors
thinc
threadpoolctl
tiktoken
timm
tokenizers
toml
toolz
torch
torchaudio
torchdiffeq
torchmetrics
torchsde
torchvision
tornado
tqdm
trainer
traitlets
trampoline
transformers @ git+https://github.com/huggingface/transformers.git@37bba2a32d2742a10216ffd925bb8f145a732ce1
trimesh
triton
TTS
typed-ast
typeguard
typer
types-requests
typing-inspect
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
urllib3
uuid6
wandb
wasabi
watchdog
wcwidth
weasel
webdataset
Werkzeug
wget
widgetsnbextension
wikipedia
wrapt
xformers
xxhash
yarl
youtokentome
zarr
zipp